@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Rubik;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

header{
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 28px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul{
    display: flex;
    list-style: none;
    gap: 60px;
    padding-top: 8px;
}

header ul li a{
    color: black;
    text-decoration: none;
}

.header-left{
    display: flex;
    align-items: center;
    gap: 76px;
}

.header-right{
    display: flex;
    gap: 60px;
    align-items: center;
}

.active{
    font-weight: 500;
    border-bottom: 2px solid #5243C2;
    padding-bottom: 8px;
}

header button{
    color: #FF4D4F;
    background-color: #FFEDED;
    border: none;
    border-radius: 20px;
    padding: 8px 24px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}

/* Hero Section */

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 140px;
}

.hero-left{
    max-width: 482px;
}

.hero-left h1{
    font-size: 72px;
    font-weight: 400;
}

.hero-left p{
    font-size: 20px;
    font-weight: 400;
    color: #676D77;
}

.burger-left h1 {
    font-size: 72px;
    font-weight: 400;
}

.burger-top{
    display: flex;
    align-items: center;
}

.burger-property{
    background-color: #f5f5ff;
    border-radius: 50px;
    padding: 12px 16px;

    display: flex;
    align-items: center;
    gap: 8px;
}

.burger-properties{
    display: flex;
    gap: 12px;
    margin-bottom: 60px;
}

.burger-right h4{
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 24px;
}

.gift-red{
    color: #FF4D4F;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
}

.gift-text{
    font-size: 24px;
    margin-left: 24px;
    
}

.text-gray{
    color:  #949ba6;
}

.ketchup{
    float: right;
    margin-top: 28px;
}

.burger-center{
    position: relative;
}

.burger-price{
    color: #ffffff;
    font-size: 36px;
    font-size: italic;
    background-color: #5243C2;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 800;

    position: absolute;
    right: 20px;
    top: 50%;
}

.burger-order{
    color: white;
    font-size: 36px;
    font-weight: 800;
    font-size: italic;
    padding: 12px 24px;
    border-radius: 50px;
    background-color: #be2b20;
    border: none;
    cursor: pointer;
    margin: 0 auto;
}

.burger-bottom{
    display: flex;
    flex-direction: column;
    
}
.burger-middle{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.burger-card{
    width: 140px;
    height: 180px;
    border-radius: 20px;
    border: 1px solid #f0f7fa;
    padding: 24px 18px;

}

.card-image{
    display: flex;
    justify-content: center;
    height: 60px;
    margin-bottom: 12px;
}

.card-image img{
    width: 90%;
}

.burger-card h5{
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 12px;
}

.card-controls button{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    font-size: 20px;
    background-color: #d7d7e4;
    cursor: pointer;
    border: none;
    font-size: 18px;
    color: #949ba6;
}

.card-controls button:hover{
    background-color: rgb(180, 168, 168);
}

.card-controls button:active{
    background-color: rgb(86, 86, 94);
}



.card-controls{
    display: flex;
    justify-content: space-between;
}

.burger-cards{
    display: flex;
    gap: 60px;
}